<!-- Floating Add Button -->
<!-- Floating Add Button -->
<button
  *ngIf="canAddProduct"
  class="floating-add-button"
  (click)="goToAddProductPage()"
  title="Add New Product">
  ➕
</button>
<!-- Product Section -->
<div class="product-container">
        <!-- TOAST CONTAINER -->
  <div class="toast-container" *ngIf="showToast">
    <div class="toast show">
      {{ toastMessage }}
    </div>
  </div>
  <h2 class="title">Our Collection</h2>

  <!-- Search Bar -->
  <div class="search-wrapper">
    <span class="search-icon">🔍</span>
    <input type="text" placeholder="Search watches..." [(ngModel)]="filters.name" class="search-bar-with-icon"    (keydown.enter)="FiltrProducts()"
/>
  </div>

  <div class="product-section">
    <!-- Filter Sidebar -->
    <div class="filter-bar">
      <h3>Filter Watches</h3>

      <label>
        <span>Price Range</span>
        <input type="range" min="0" max="1500" [(ngModel)]="filters.maxPrice"
         (ngModelChange)="onFiltersChanged()"
        />
        <small>Max: ${{ filters.maxPrice }}</small>
      </label>

      <label>
        <span>Quantity Range</span>
        <input type="range" min="0" max="100" [(ngModel)]="filters.maxQuantity"
         (ngModelChange)="onFiltersChanged()"
        />
        <small>Max: {{ filters.maxQuantity }}</small>
      </label>

      <label>
        <span>Weight Range</span>
        <input type="range" min="0" max="60" [(ngModel)]="filters.maxWeight"
         (ngModelChange)="onFiltersChanged()"
        />
        <small>Max: {{ filters.maxWeight }}</small>
      </label>

      <label>
        <span>Size Range</span>
        <input type="range" min="0" max="45" [(ngModel)]="filters.maxSize"
         (ngModelChange)="onFiltersChanged()"
        />
        <small>Max: {{ filters.maxSize }}</small>
      </label>

      <label class="checkbox-label">
        <span>Waterproof</span>
        <input type="checkbox" [(ngModel)]="filters.waterProof"
         (ngModelChange)="onFiltersChanged()"
        />
      </label>

      <label class="checkbox-label">
        <span>Has Date</span>
        <input type="checkbox" [(ngModel)]="filters.includesDate"
         (ngModelChange)="onFiltersChanged()"
        />
      </label>

      <label class="checkbox-label">
        <span>All Numbers</span>
        <input type="checkbox" [(ngModel)]="filters.hasFullNumerals"
         (ngModelChange)="onFiltersChanged()"
          />
      </label>

      <label class="checkbox-label">
        <span>No Tick Sound</span>
        <input type="checkbox" [(ngModel)]="filters.hasTickingSound"
         (ngModelChange)="onFiltersChanged()"
        />
      </label>

      <!-- Dropdowns -->
      <div class="filter-section">
        <label>
          <span>Display Type</span>
          <select [(ngModel)]="filters.displayType"   (ngModelChange)="onFiltersChanged()">
            <option value="">Any</option>
            <option *ngFor="let t of displayTypes" [value]="t">{{ t }}</option>
          </select>
        </label>
      </div>

      <div class="filter-section">
        <label>
          <span>Numbering Type</span>
          <select [(ngModel)]="filters.numberingType"  (ngModelChange)="onFiltersChanged()">
            <option value="">Any</option>
            <option *ngFor="let n of numberingTypes" [value]="n">{{ n }}</option>
          </select>
        </label>
      </div>

      <div class="filter-section">
        <label>
          <span>Brand Type</span>
          <select [(ngModel)]="filters.brand"  (ngModelChange)="onFiltersChanged()">
            <option value="">Any</option>
            <option *ngFor="let b of availableBrands" [value]="b">{{ b }}</option>
          </select>
        </label>
      </div>

      <div class="filter-section">
        <label>
          <span>Band Color</span>
          <select [(ngModel)]="filters.bandColor"  (ngModelChange)="onFiltersChanged()">
            <option value="">Any</option>
            <option *ngFor="let c of bandColors" [value]="c">{{ c }}</option>
          </select>
        </label>
      </div>

      <div class="filter-section">
        <label>
          <span>Hands Color</span>
          <select [(ngModel)]="filters.handsColor"  (ngModelChange)="onFiltersChanged()">
            <option value="">Any</option>
            <option *ngFor="let c of handsColors" [value]="c">{{ c }}</option>
          </select>
        </label>
      </div>

      <div class="filter-section">
        <label>
          <span>Background Color</span>
          <select [(ngModel)]="filters.backgroundColor"  (ngModelChange)="onFiltersChanged()">
            <option value="">Any</option>
            <option *ngFor="let c of backgroundColors" [value]="c">{{ c }}</option>
          </select>
        </label>
      </div>

      <div class="filter-section">
        <label>
          <span>Band Material</span>
          <select [(ngModel)]="filters.bandMaterial"  (ngModelChange)="onFiltersChanged()">
            <option value="">Any</option>
            <option *ngFor="let m of bandMaterials" [value]="m">{{ m }}</option>
          </select>
        </label>
      </div>

      <div class="filter-section">
        <label>
          <span>Case Material</span>
          <select [(ngModel)]="filters.caseMaterial"  (ngModelChange)="onFiltersChanged()">
            <option value="">Any</option>
            <option *ngFor="let m of caseMaterials" [value]="m">{{ m }}</option>
          </select>
        </label>
      </div>

      <div class="filter-section">
        <label>
          <span>Shape</span>
          <select [(ngModel)]="filters.shape"  (ngModelChange)="onFiltersChanged()">
            <option value="">Any</option>
            <option *ngFor="let m of shapes" [value]="m">{{ m }}</option>
          </select>
        </label>
      </div>



<div class="filter-buttons">
  <button class="reset-btn" (click)="resetFilters()">Reset</button>
  <button class="apply-btn" (click)="FiltrProducts()">Apply Filter</button>
</div>

    </div>

<!-- Product Grid -->
<div class="product-grid">
 
      <div class="product-wrapper" *ngFor="let product of productsWithImages; trackBy: trackByProduct">    <div class="product-card"  >
       <div class="product-content">

        <div class="image-wrapper" #imageContainer>
          <div
            class="image-strip"
            [style.transform]="'translateX(' + (positions[product.id] || 0) + '%)'"

          >
          <img
            *ngFor="let img of product.images"
                 [src]="img"
                 alt="{{ product.name }}"
                 class="clickable"
                 (click)="goToProductDetails(product)"
            />

          </div>

          <button class="carousel-arrow left" (click)="scrollLeft(product, $event)">&#10094;</button>
          <button class="carousel-arrow right" (click)="scrollRight(product , $event)">&#10095;</button>

        </div>

        <h3 class="product-name clickable" (click)="goToProductDetails(product)">{{ product.name }}</h3>
        <div class="Price-quan-con">

          <p class="product-price">{{ product.quantity }}  unit </p>
          <p class="product-price">{{ product.originalPrice | currency }}</p>

        </div>

      </div>
    </div>
  </div>


  </div>
<!-- your grid goes here -->

<div class="change-page">
  <button *ngIf="pageIndex != 1"  class="carousel-arrowNP left" (click)="prePage()">&#10094;</button>

  <div class="page-index">
    {{ pageIndex}}
  </div>

  <button  class="carousel-arrowNP right" (click)="nextPage()">&#10095;</button>
</div>

