<div class="container">
  <!-- Left Video Panel -->
  <div class="left-panel">
    <video
      #backgroundVideo
      autoplay
      muted
      loop
      playsinline
      preload="auto"
      class="video-background"
    >
      <source src="assets/background.mp4" type="video/mp4" />
    </video>
    <div class="overlay"></div>
  </div>

  <!-- Right Form Panel -->
  <div class="right-panel">
    <div class="form-container">
      <p>
        <span (click)="goToSignInPage()" class="register-flair">
          Have an account? Sign in instead ✨ →
        </span>
      </p>

      <!-- Toast Message -->
      <div class="toast" *ngIf="showToast">{{ toastMessage }}</div>

      <!-- Sign-up Form -->
      <form [formGroup]="SignUpForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline"
                    formControlName="username"
>
    <mat-label>Outline form field</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
        <input
          type="text"
          placeholder="Username"
        />
        <input
          type="email"
          placeholder="Email"
          formControlName="email"
        />
        <input
          type="text"
          placeholder="Phone Number"
          formControlName="phone"
        />
        <input
          type="password"
          placeholder="Password"
          formControlName="password"
        />
        <input
          type="password"
          placeholder="Confirm Password"
          formControlName="confirmPassword"
        />

        <!-- Submit Button -->
        <button class="sign-in-button" type="submit">Sign Up</button>
      </form>
    </div>
  </div>
</div>
